.editor {
  padding: 24px 40px 32px;
  border-radius: 4px;
}

.editor-container {
  position: relative;
}

.tiptap {
  border: unset;
  outline: unset;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  table-layout: fixed;
}

td,
th {
  border: 1px solid #ccc;
  padding: 6px 10px;
  min-width: 50px;
  vertical-align: top;
}

.table-toolbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 8px 0 16px;
}

.table-toolbar button {
  padding: 4px 8px;
  font-size: 14px;
  background: #f4f4f4;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 4px;
}

.table-btn {
  position: absolute;
  z-index: 20;
  padding: 2px 6px;
  font-size: 12px;
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
}


/* Basic Tiptap styles */
.tiptap {
  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.17em;
  }

  pre {
    background: #0d0d0d7c;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
  }

  code {
    background-color: rgba(97, 97, 97, 0.1);
    padding: 0.2em 0.4em;
    border-radius: 4px;
  }

  blockquote {
    width: fit-content;
    padding-left: 1.2rem;
    position: relative;
    border-left: 2px solid #6666666c;
    text-align: center;
  }

  blockquote:before,
  blockquote:after {
    position: absolute;
    top: 0;
    height: 100%;
    width: auto;
    font-size: 20px;
    color: #666;
  }

  blockquote:before {
    content: '„';
    left: 6px;
    padding-right: 4px;
  }

  blockquote:after {
    content: '“';
    left: 100%;
    padding-left: 4px;
  }

  img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    cursor: move;
  }
}

.selected-text__popup {
  padding: .25rem;
  border: 1px solid black;
  border-radius: .5rem;
  position: absolute;
  transform: translate(-50%, -20%);
  background-color: white;
  z-index: 10;
  box-shadow: 0 2px 8px #66666667;

  &::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    z-index: 10;
  }
}
