table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
    table-layout: fixed;
}

td,
th {
  border: 1px solid #ccc;
  padding: 6px 10px;
  min-width: 50px;
  vertical-align: top;
  
    /* word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap; */
}

th {
  background-color: #f0f0f0;
}

.table-toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 8px 0 16px;
}

.table-toolbar button {
  padding: 4px 8px;
  font-size: 14px;
  background: #f4f4f4;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 4px;
}